.footer {
    background-color: $dark-secondary;
    padding: 80px 0;

    &__body {
        @include flex(column, center, center);
        gap: 50px;
    }

    &__nav {

        &>ul {
            @include flex(row, center, center);
            flex-wrap: wrap;
            column-gap: 50px;
            row-gap: 15px;

            &>li {
                &>a {
                    font-size: 16px;
                    font-weight: 300;
                    font-family: "Inter", sans-serif;
                    color: $light;
                    @include transition(0.3s);

                    @media(any-hover: hover){
                        &:hover{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}