// colors
$primary: #BA8554;
$secondary: #A14F03;
$text: #777777;
$dark: #000;
$dark-secondary: #333333;
$light: #fff;
$bg: #F7F7F7;
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

// break points
$mp1: 1199.98px;
$mp2: 1023.98px;
$mp3: 991.98px;
$mp4: 767.98px;
$mp5: 479.98px;
$mp6: 399.98px;