// colors
$primary: #61A568;
$secondary: #101D2C;
$dark: #000;
$dark-primary: #425844;
$light: #F5F5F5;
$text: #AAAAAA;

// break points
$mp1: 1199.98px;
$mp2: 1023.98px;
$mp3: 991.98px;
$mp4: 767.98px;
$mp5: 479.98px;
$mp6: 399.98px;